<div class="bg-gray-800 text-white h-dvh">
  <div class="bg-gray-800 py-4">
    <div class="sticky top-0 bg-gray-800">
      <div class="flex justify-between items-center px-4 mb-4">
        <button routerLink="/setting" class="text-white">
          <i class="fas fa-arrow-left"></i>
        </button>
        <h1 class="text-lg font-semibold">類別管理</h1>
        <button (click)="doDropList()">
          <i class="fas fa-bars me-1"></i><span>排序</span>
        </button>
      </div>
      <div class="flex justify-around items-center mb-3">
        <button
          (click)="onChangeTransactionType(TransactionTypeEnum.Expense)"
          [ngClass]="{
            'bg-gray-600': transactionType === TransactionTypeEnum.Expense
          }"
          class="w-1/2 p-4 border-y-2 border-gray-900"
        >
          <i class="fas fa-arrow-up"></i>
          <span class="block text-xs">支出</span>
        </button>
        <button
          (click)="onChangeTransactionType(TransactionTypeEnum.Income)"
          [ngClass]="{
            'bg-gray-600': transactionType === TransactionTypeEnum.Income
          }"
          class="w-1/2 p-4 border-y-2 border-gray-900"
        >
          <i class="fas fa-arrow-down"></i>
          <span class="block text-xs">收入</span>
        </button>
      </div>
    </div>
    <div class="space-y-2" cdkDropList (cdkDropListDropped)="dropTag($event)">
      @for (item of tagList ; track item.id) {
      <div
        cdkDrag
        [cdkDragDisabled]="!isDrop"
        class="flex items-center justify-between px-4 py-3 bg-gray-700"
        (click)="goToEditTag(item.id)"
      >
        <div class="flex items-center">
          <i [ngClass]="item.tagIconName"></i>
        </div>
        <span>
          {{ item.tagName }}
          @if (!isDrop) { &gt; } @else {
          <i class="fas fa-bars me-1"></i>
          }
        </span>
      </div>
      }
    </div>
  </div>
  <div class="sticky bottom-0">
    <div class="flex justify-around items-center bg-gray-500">
      @if (!isDrop) {
      <button class="p-4 flex-1" (click)="onClickAddTag()">
        <i class="fas fa-plus"></i>
      </button>
      } @else {
      <button (click)="onConfirm()" class="flex-1 p-4">確認</button>
      <button (click)="doDropList()" class="flex-1 p-4 bg-gray-600">
        取消
      </button>
      }
    </div>
  </div>
</div>
