<div class="bg-gray-800 text-white h-dvh">
  <div class="py-4">
    <div class="flex justify-between items-center px-4 mb-4">
      <button routerLink="/setting" class="text-white">
        <i class="fas fa-arrow-left"></i>
      </button>
      <h1 class="text-lg font-semibold">類別管理</h1>
      <button>
        <i class="fas fa-bars me-1"></i><span>排序</span>
      </button>
    </div>
    <div class="space-y-2">
      @for (item of tagList$ | async; track item) {
      <div class="flex items-center justify-between px-4 py-3 bg-gray-700" (click)="goToRemoveTag(item.id)">
        <div class="flex items-center">
          <i [ngClass]="item.tagIconName"></i>
        </div>
        <span> {{ item.tagName }} &gt; </span>
      </div>
      }
    </div>
  </div>
  <div class="sticky bottom-0">
    <div class="flex justify-around items-center bg-gray-500 p-4">
      <button routerLink="/setting/addTag">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
</div>
