<div class="bg-gray-800 text-white h-dvh">
  <div class="py-4">
    <div class="flex justify-between items-center px-4 mb-4">
      <button routerLink="/" class="text-white">
        <i class="fas fa-arrow-left"></i>
      </button>
      <h1 class="text-lg font-semibold">設定</h1>
      <div></div>
    </div>
    <div class="space-y-2">
      <div
        routerLink="./budget"
        class="flex items-center justify-between px-4 py-3 bg-gray-700"
      >
        <div class="flex items-center">
          <span> 預算編列 </span>
        </div>
        <span> &gt; </span>
      </div>
      <div
        routerLink="./tagsManage"
        class="flex items-center justify-between px-4 py-3 bg-gray-700"
      >
        <div class="flex items-center">
          <span> 類別管理 </span>
        </div>
        <span> &gt; </span>
      </div>
      <div class="flex items-center justify-between px-4 py-3 bg-gray-700">
        <div class="flex items-center">
          <span> 匯出檔案 </span>
        </div>
        <span> &gt; </span>
      </div>
      <div class="flex items-center justify-between px-4 py-3 bg-gray-700">
        <div class="flex items-center">
          <span> 聯絡我們 </span>
        </div>
        <span> &gt; </span>
      </div>
      <div class="flex items-center justify-between px-4 py-3 bg-gray-700" (click)="getExpenses()">
        <div class="flex items-center">
          <span> 儲存支出備註 </span>
        </div>
        <span> &gt; </span>
      </div>
      <div class="flex items-center justify-between px-4 py-3 bg-gray-700" (click)="logout()">
        <div class="flex items-center">
          <span> 登出 </span>
        </div>
        <span> &gt; </span>
      </div>
    </div>
  </div>
</div>
