:host {
  display: block;
}

.selectedTab {
  @apply text-indigo-500  border-indigo-500;
}

.btn {
  @apply flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-4 mr-1 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-4 sm:mt-0;
}

.wrapper {
  overflow-y: auto;
  touch-action: pan-y !important;
}

.mat-custom > .mat-date-range-input {
  display: flex;
}


::ng-deep .mat-custom .mat-date-range-input-separator {
  color: white;
}

