<div class="bg-gray-100 h-dvh">
  <div class="min-h-max">
    <div class="sticky top-0">
      <!-- Top bar -->
      <div class="bg-red-600 p-4 text-white">
        <div class="flex justify-between items-center">
          <div class="w-1/5"></div>
          <div
            class="flex items-center justify-center w-3/5"
            (click)="picker.open()"
          >
            <img
              src="https://img.icons8.com/ios-filled/50/ffffff/calendar.png"
              class="h-6 w-6 me-2"
              alt="Calendar"
            />
            <input
              class="bg-red-600 text-2xl w-32 mr-3 focus:outline-none"
              matInput
              readonly
              [(ngModel)]="currentDate"
              [matDatepicker]="picker"
              (dateChange)="onDateChange()"
            />
            <mat-datepicker touchUi #picker></mat-datepicker>
          </div>
          <div class="w-1/5 flex justify-end">
            <button class="bg-red-800 p-2 rounded-full" (click)="onClickAdd()">
              <img
                src="https://img.icons8.com/ios-filled/50/ffffff/plus-math.png"
                class="h-6 w-6"
                alt="Add"
              />
            </button>
          </div>
        </div>
      </div>

      <!-- Balance -->
      <div class="bg-red-500 p-4 text-white">
        <div class="flex justify-between items-center">
          <span>TWD</span>
          <span class="text-4xl">1,525</span>
        </div>
      </div>
    </div>
    <!-- Expense categories -->
    <div
      class="bg-red-500 p-4 space-y-2 min-h-dvh"
      (swipeLeft)="onSwipeLeft()"
      (swipeRight)="onSwipeRight()"
    >
      @for (item of ledgerItems; track item.id) {
      <div class="bg-white p-2 flex justify-between items-center">
        <span>
          <i [ngClass]="item.tagInfo.tagIconName" class="mr-2"></i>
          <span>{{ item.tagInfo.tagName }}</span>
        </span>
        <span>${{ item.price }}</span>
      </div>
      }
    </div>
  </div>

  <div class="sticky bottom-0">
    <!-- Budget progress -->
    <div routerLink="budget" class="bg-red-300 p-4 text-red-800">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <img
            src="https://img.icons8.com/ios-filled/50/fa314a/sheep.png"
            class="h-6 w-6"
            alt="Sheep"
          />
          <span class="ml-2 text-lg">87%</span>
        </div>
        <div>
          <span class="text-2xl">$10,475</span> /
          <span class="text-xl">$12,000</span>
        </div>
      </div>
      <div class="text-xs">
        <span>剩餘預算</span>
        <span>預算總額</span>
      </div>
    </div>

    <!-- Navigation -->
    <div class="flex justify-around items-center bg-gray-200">
      <button
        [ngClass]="{
          'bg-gray-400': transactionType === TransactionTypeEnum.Expense
        }"
        class="w-1/4 p-4"
      >
        <i class="fas fa-arrow-up"></i>
        <span class="block text-xs">支出</span>
      </button>
      <button
        [ngClass]="{
          'bg-gray-400': transactionType === TransactionTypeEnum.Income
        }"
        class="w-1/4 p-4"
      >
        <i class="fas fa-arrow-down"></i>
        <span class="block text-xs">收入</span>
      </button>
      <button class="w-1/4 p-4">
        <i class="fas fa-chart-line"></i>
        <span class="block text-xs">統計</span>
      </button>
      <button class="w-1/4 p-4" routerLink="setting">
        <i class="fas fa-cog"></i>
        <span class="block text-xs">設定</span>
      </button>
    </div>
  </div>
</div>
