<div class="bg-gray-100 h-dvh">
  <div class="min-h-max">
    <div class="sticky top-0">
      <!-- Top bar -->
      <div
        [ngClass]="{
          'bg-red-600': transactionType === TransactionTypeEnum.Expense,
          'bg-green-600': transactionType === TransactionTypeEnum.Income
        }"
        class="p-4 text-white"
      >
        <div class="flex justify-between items-center">
          <div class="w-1/5 text-2xl">
            @if (transactionType === TransactionTypeEnum.Expense) {
              {{ calculateDiffRangeDay() }}
            }
          </div>
          <div
            class="flex items-center justify-center w-3/5"
            (click)="picker.open()"
          >
            <img
              src="https://img.icons8.com/ios-filled/50/ffffff/calendar.png"
              class="h-6 w-6 me-2"
              alt="Calendar"
            />
            <input
              [ngClass]="{
              'bg-red-600': transactionType === TransactionTypeEnum.Expense,
              'bg-green-600': transactionType === TransactionTypeEnum.Income,
              }"
              class="text-2xl w-36 mr-3 focus:outline-none"
              matInput
              readonly
              [(ngModel)]="currentDate"
              [matDatepicker]="picker"
              (dateChange)="onDateChange()"
            />
            <mat-datepicker touchUi #picker></mat-datepicker>
          </div>
          <div class="w-1/5 flex justify-end">
            <button
              [ngClass]="{
              'bg-red-800': transactionType === TransactionTypeEnum.Expense,
              'bg-green-800': transactionType === TransactionTypeEnum.Income,
              }"
              class="p-2 rounded-full"
              (click)="onClickAdd()"
            >
              <img
                src="https://img.icons8.com/ios-filled/50/ffffff/plus-math.png"
                class="h-6 w-6"
                alt="Add"
              />
            </button>
          </div>
        </div>
      </div>

      <!-- Balance -->
      <div
        [ngClass]="{
        'bg-red-500': transactionType === TransactionTypeEnum.Expense,
        'bg-green-500': transactionType === TransactionTypeEnum.Income,
        }"
        class="p-4 text-white"
      >
        <div class="flex justify-between items-center text-4xl">
          <span>TWD</span>
          <span>{{ totalAmount() | number }}</span>
        </div>
      </div>
    </div>
    <!-- Expense categories -->
    <div
      [ngClass]="{
      'bg-red-500': transactionType === TransactionTypeEnum.Expense,
      'bg-green-500': transactionType === TransactionTypeEnum.Income,
      }"
      class="p-4 space-y-2 min-h-dvh"
      (swipeLeft)="onSwipeLeft()"
      (swipeRight)="onSwipeRight()"
    >
      @for (item of ledgerItems; track item.id) {
      <div
        class="bg-white p-2 flex justify-between items-center"
        (click)="goToEditTag(item)"
      >
        <span>
          <i [ngClass]="item.tagInfo.tagIconName" class="w-5 mr-1"></i>
          <span>{{ item.tagInfo.tagName }}</span>
        </span>
        <span>$ {{ item.price | number }}</span>
      </div>
      }
    </div>
  </div>

  <div class="sticky bottom-0">
    <!-- Budget progress -->
    @if((transactionType === TransactionTypeEnum.Expense) && showBudget ) {
    <div routerLink="/setting/budget" class="bg-red-300 p-4 text-red-800">
      <div class="flex justify-between items-center">
        <div class="flex">
          <div class="mr-1 flex flex-col items-center">
            <span class="text-xl block"
              >$ {{ calculateRangeDayBudget() | number }}</span
            >
            <span class="text-sm">週期餘額</span>
          </div>
        </div>
        <div class="flex">
          <div class="mr-1 flex flex-col items-center">
            <span class="text-xl block"
              >$ {{ calculateTodayBudget() | number }}</span
            >
            <span class="text-sm">每日剩餘</span>
          </div>
        </div>
        <div class="flex">
          <div class="mr-1 flex flex-col items-end">
            <span class="text-xl block"
              >$ {{ currentRangeBudget | number }}</span
            >
            <span class="text-sm">剩餘預算</span>
          </div>
          /
          <div class="ml-1 flex flex-col items-end">
            <span class="text-xl block">$ {{ budgetAmount | number }}</span>
            <span class="text-sm">預算總額</span>
          </div>
        </div>
      </div>
    </div>
    }

    <!-- Navigation -->
    <div class="flex justify-around items-center bg-gray-200">
      <button
        [ngClass]="{
          'bg-gray-400': transactionType === TransactionTypeEnum.Expense
        }"
        class="w-1/4 p-4 pb-8"
        (click)="changeTransactionType(TransactionTypeEnum.Expense)"
      >
        <i class="fas fa-arrow-up"></i>
        <span class="block text-lg">支出</span>
      </button>
      <button
        [ngClass]="{
          'bg-gray-400': transactionType === TransactionTypeEnum.Income
        }"
        class="w-1/4 p-4 pb-8"
        (click)="changeTransactionType(TransactionTypeEnum.Income)"
      >
        <i class="fas fa-arrow-down"></i>
        <span class="block text-lg">收入</span>
      </button>
      <button class="w-1/4 p-4 pb-8">
        <i class="fas fa-chart-line"></i>
        <span class="block text-lg">統計</span>
      </button>
      <button class="w-1/4 p-4 pb-8" routerLink="setting">
        <i class="fas fa-cog"></i>
        <span class="block text-lg">設定</span>
      </button>
    </div>
  </div>
</div>
