<div class="bg-gray-800 text-white h-dvh">
  <div class="py-4">
    <div class="flex justify-between items-center px-4 mb-4">
      <button routerLink="/setting/tagsManage" class="text-white">
        <i class="fas fa-arrow-left"></i>
      </button>
      <h1 class="text-lg font-semibold">新增類別</h1>
      <div></div>
    </div>
    <div class="relative m-5 mb-4">
      <label for="tagName" class="leading-7 text-sm text-gray-200"
        >請自定義標籤名稱</label
      >
      <input
        id="tagName"
        type="text"
        class="w-full bg-gray-800 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      />
    </div>
    <div class="m-5 border-2 p-1 flex flex-wrap">
      @for (item of tagList; track item) {
      <button
        class="p-4 w-1/5"
        (click)="onClickTag(item)"
        [ngClass]="{ 'bg-gray-500': selectedTag === item }"
      >
        <i [ngClass]="item"></i>
      </button>
      }
    </div>
    <div class="flex justify-around items-center bg-gray-500 p-4">
      <button routerLink="/setting/addTag">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
</div>
