<div class="bg-gray-800 text-white p-4 flex justify-between items-center">
  <i class="fas fa-arrow-left" routerLink="/"></i>
  <h1 class="text-lg">新增支出</h1>
  <button class="bg-gray-600 px-4 py-2 rounded">儲存</button>
</div>
<div class="bg-red-600 text-center p-10">
  <span class="text-white text-3xl">$0</span>
</div>
<div class="w-full overflow-hidden">
  <div
    #scrollTags
    (swipeLeft)="onSwipeLeft()"
    (swipeRight)="onSwipeRight()"
    [style.transform]="translateFactor"
    class="flex w-full transition"
  >
    @for (item of tagsGroup; track item) {
    <div #tagGroup class="w-screen text-center">
      <div class="flex w-screen pt-3">
        <div class="w-1/3 p-1">
          <i class="fas fa-bread-slice"></i>
          <p>早餐</p>
        </div>
        <div class="w-1/3 p-1">
          <i class="fas fa-utensils"></i>
          <p>晚餐</p>
        </div>
        <div class="w-1/3 p-1">
          <i class="fas fa-glass-martini-alt"></i>
          <p>水</p>
        </div>
      </div>
      <div class="flex w-screen pt-3">
        <div class="w-1/3 p-1">
          <i class="fas fa-bus"></i>
          <p>交通</p>
        </div>
        <div class="w-1/3 p-1">
          <i class="fas fa-headphones"></i>
          <p>娛樂</p>
        </div>
        <div class="w-1/3 p-1">
          <i class="fas fa-home"></i>
          <p>日常用品</p>
        </div>
      </div>
      <div class="flex w-screen pt-3">
        <div class="w-1/3 p-1">
          <i class="fas fa-shopping-cart"></i>
          <p>家居</p>
        </div>
        <div class="w-1/3 p-1">
          <i class="fas fa-tshirt"></i>
          <p>衣服</p>
        </div>
        <div class="w-1/3 p-1">
          <i class="fas fa-pencil-alt"></i>
          <p>學習</p>
        </div>
      </div>
    </div>
    }
  </div>
</div>

<div class="flex justify-center my-4">
  @for (item of tagsGroup; track item;let i=$index) {
  <div
    [ngClass]="{ 'bg-gray-900': currentTagGroupPage === i }"
    class="mx-2 w-2 h-2 bg-gray-500 rounded-full"
  ></div>
  }
</div>
<div class="bg-white py-4 border-t border-gray-300">
  <div class="flex p-4 border-b items-center">
    <i class="mr-4 fas fa-pencil-alt"></i>
    <p>描述</p>
  </div>
  <div class="flex p-4 border-b items-center">
    <i class="mr-4 fas fa-file-invoice-dollar"></i>
    <p>帳戶</p>
  </div>
  <div class="flex p-4 border-b items-center">
    <i class="mr-4 fas fa-sync"></i>
    <p>固定支出</p>
  </div>
</div>
