<div class="bg-gray-800 text-white min-h-dvh">
  <div class="sticky top-0 bg-gray-800">
    <div class="py-4">
      <div class="sticky top-0 bg-gray-800">
        <div class="flex justify-between items-center px-4 mb-4">
          <button (click)="onClickBack()" class="text-white">
            <i class="fas fa-arrow-left"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full text-center">
      <mat-form-field>
        <mat-date-range-input
          #rangeInput
          [disabled]="dateTab === DateTabsEnum.Range_TAB"
          [formGroup]="range"
          [rangePicker]="picker"
        >
          <input matStartDate formControlName="start" placeholder="起日" />
          <input matEndDate formControlName="end" placeholder="訖日" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker touchUi #picker>
          <mat-datepicker-actions>
            <button class="btn" mat-button matDatepickerCancel>取消</button>
            <button
              class="btn"
              mat-button
              matDatepickerApply
              (click)="onDateChange()"
            >
              確定
            </button>
          </mat-datepicker-actions>
        </mat-date-range-picker>
        @if(range.controls.start.hasError('required') ||
        range.controls.end.hasError('required')) {
        <mat-error>請選擇日期</mat-error>
        }
      </mat-form-field>

      <!-- <p>Selected range: {{ range.value | json }}</p> -->
    </div>
    <div class="flex mb-4">
      <div
        [ngClass]="{
          'selectedTab': dateTab === DateTabsEnum.Range_TAB,
        }"
        class="flex-grow text-center border-b-2 border-gray-300 py-2 text-lg px-1"
        (click)="onClickTab(DateTabsEnum.Range_TAB)"
      >
        週期統計
      </div>
      <div
        [ngClass]="{
          selectedTab: dateTab === DateTabsEnum.CUSTOM_TAB
        }"
        class="flex-grow text-center border-b-2 border-gray-300 py-2 text-lg px-1"
        (click)="onClickTab(DateTabsEnum.CUSTOM_TAB)"
      >
        自訂區間
      </div>
    </div>
  </div>

  <div
    class="wrapper"
    (swipeLeft)="onSwipeLeft()"
    (swipeRight)="onSwipeRight()"
  >
    <app-pie-chart
      [pieChartItems]="pieChartItems"
      (onEmitPieChartWithColorItems)="setLedgerList($event)"
    ></app-pie-chart>
  </div>
  <div class="bg-gray-700 p-2 pb-10">
    @for (item of rangeList; track $index) {
    <div
      [ngStyle]="{ color: item.backgroundColor }"
      class="text-xl px-1 py-1 flex justify-between"
      (click)="onClickTagGroup(item.tagName, item.items)"
    >
      <span class="w-5/12 flex">
        <div class="w-7 text-center">{{ $index }}</div>
        <div>{{ item.tagName }}</div>
      </span>
      <span class="w-2/12"> {{ item.percent }}</span>
      <span class="w-5/12 pr-1 flex justify-end 400">$ {{ item.price }}</span>
    </div>
    }
  </div>
</div>

<ng-template #groupItemsRef>
  <div class="max-h-max overflow-scroll">
    @for (item of groupItems; track $index) {
    <div class="text-xl flex justify-between mb-1 pb-1 border-b border-white">
      <span class="flex-1">
        {{ dayjs(item.date.toDate()).format("MM/DD") }}
      </span>
      <span class="flex-1">$ {{ item.price }}</span>
      <span class="flex-1 flex justify-end"> {{ item.description }}</span>
    </div>
    }
  </div>
</ng-template>
